<template>
  <div id="app">
    <Header-component @ganti-hero="gantiHero"></Header-component>
      <main>
        <p>Hero2 minggu ini</p>
        <article v-if="!selectedHero">
            <Hero v-for="(item,index) in hero" :key="item.id" :hero="item" :index="index"></Hero>
        </article>
        <article v-else>
            <Hero :hero="selectedHero" :index="0"></Hero>
        </article>
      </main>
    <Footer-component></Footer-component>
  </div>
</template>

<script>
import header from './components/Header'
import footer from './components/Footer'
import Hero from './components/Hero'
export default {
  components:{
    'Header-component' :header,
    'Footer-component' :footer,
    Hero
  },
  name: 'App',
  data: () =>{
    return{
      hero:[
        {
          id:1,
          nama : 'sniper',
          type: 'agility',
          gambar:'aurora.jpg'
        },
        {
          id:2,
          nama : 'jilong',
          type: 'agility',
          gambar:'zilong.jpg'
        },
         {
          id:3,
          nama : 'sniper',
          type: 'agility',
          gambar:'aurora.jpg'
        },
        {
          id:4,
          nama : 'jilong',
          type: 'agility',
          gambar:'zilong.jpg'
        },
         {
          id:5,
          nama : 'sniper',
          type: 'agility',
          gambar:'aurora.jpg'
        },
        {
          id:6,
          nama : 'jilong',
          type: 'agility',
          gambar:'zilong.jpg'
        },
         {
          id:7,
          nama : 'sniper',
          type: 'agility',
          gambar:'aurora.jpg'
        },
        {
          id:8,
          nama : 'jilong',
          type: 'agility',
          gambar:'zilong.jpg'
        },
      ],
      selectedHero:''
    }
  },
  methods:{
    gantiHero:function(){
      this.selectedHero = this.randomHero()
    },
    randomHero(){
      return this.hero[Math.floor(Math.random() * this.hero.length)]
    }
  },
  
  
}
</script>
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}
main img{
  width: 80px;
  border: 1px solid gray;

}

article{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
}
main{
  text-align: center;
}
</style>
