<template>
   <header>
        <img alt="Vue logo" src="../assets/logo.png" width="200">
        <h3>Dota2</h3>
        <button @click.prevent="$emit('ganti-hero')">Random Hero</button>
    </header>
</template>

<script>
export default {

}
</script>

<style>

</style>