<template>
   <ul>
        <li>
          <img :src="gambar">
          <p>{{index + 1}} - {{ hero.nama }}</p>
          <p>Jenis Hero: {{ hero.type }}</p>
          <!-- <h1>{{ hero }}</h1> -->
        </li>
      </ul>
</template>

<script>
export default {
    props:['hero','index'],
     computed:{
        gambar:function () {
        return require('../assets/hero/' + this.hero.gambar)
        }
  }
}
</script>

<style scoped>
p{
  margin:0;
  color: salmon;
}
li{
  list-style: none;
}
</style>